<div class="container-fluid pb-2">

  <div class="row my-1">
    <div class="col-12 mt-2">
      <!-- <small class="text-danger font-weight-bold">This feature is currently disabled</small> -->
      <h3 [innerHtml]="'Reset '+ username +'\'s Password'"></h3>
    </div>
    <div class="col-12">
      <ul class="pl-0 list-unstyled">
        <li>Do
          <span class="font-weight-bold">not</span> lose your password.
        </li>
        <li>We cannot recover your password.</li>
        <li>If you can remember your password, It's not secure.</li>
        <li>Use only randomly-generated passwords.</li>
        <li>Do not tell anyone your password.</li>
        <li>Always back up your password.</li>
        <!-- Need to verify time -->
        <!-- <li>For security reasons, your password can only be changed once every 24 hours.</li>  -->
      </ul>
    </div>
    <div class="col-12 my-1">
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="row my-1">

    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" autocomplete="off">

      <div class="col-12 mb-2">
        <mat-form-field>
          <input matInput type="password" placeholder="Current Password" formControlName="password" autocomplete="off">
          <mat-error *ngIf="passwordForm.controls.password.hasError('required')">
            <strong>Password is required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 mb-2">
        <mat-form-field>
          <input matInput type="password" placeholder="New Password" formControlName="newPassword" autocomplete="off">
          <mat-error *ngIf="passwordForm.controls.newPassword.hasError('required')">
            <strong>Generated Password is required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 mb-2">
        <mat-form-field>
          <input matInput type="password" placeholder="Confirm Password" formControlName="confirmPassword" autocomplete="off">
          <mat-error *ngIf="!passwordMatch()">
            <strong>Password must match</strong>
          </mat-error>
          <mat-error *ngIf="passwordForm.controls.confirmPassword.hasError('required')">
            <strong>Password confirmation is required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-12 mt-2">
        <mat-checkbox formControlName="understand" required>
          I UNDERSTAND THIS WALLET HOSTER CANNOT RECOVER LOST PASSWORDS
        </mat-checkbox>
      </div>

      <div class="col-12 mb-2">
        <mat-checkbox formControlName="saved" required>
          I HAVE SECURELY SAVED MY NEW PASSWORD
        </mat-checkbox>
      </div>

      <div class="col-12 my-2">
        <button mat-raised-button class="mat-purple-bg" [disabled]="!passwordForm.valid">
          Update Password
        </button>
      </div>
    </form>
  </div>

</div>