@import "src/assets/scss/base";

:host {
  #videoBackground {
    position: fixed;
    min-width: 100%; 
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .video_overlay {
    opacity: 0.2;
  }


}