<div id="post" class="page-layout carded fullwidth">

  <!--Purple Background-->
  <div class="top-bg mat-deep-purple-bg"></div>

  <div class="center">

    <!--Header-->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="text-white">
        <i class="material-icons align-middle mr-2">build</i>
        <span class="align-middle">Advance Features</span>
      </h2>
    </div>

    <!--Content-->
    <div class="content-card mat-white-bg mb-5">
      <mat-tab-group>

        <!--Permissions-->
        <mat-tab label="Permissions">
          <ng-template matTabContent>
            <advance-permissions *ngIf="account" [account]="account"></advance-permissions>
          </ng-template>
        </mat-tab>

        <!--Witness & Voting-->
        <mat-tab label="Witness Voting">
          <ng-template matTabContent>
            <advance-witness *ngIf="account && username" [account]="account" [username]="username"></advance-witness>
          </ng-template>
        </mat-tab>

        <!--Streaming & Voting-->
        <mat-tab label="Streaming Platform Voting">
          <ng-template matTabContent>
            <advance-streaming *ngIf="account && username" [account]="account" [username]="username"></advance-streaming>
          </ng-template>
        </mat-tab>

        <!--Claim of Stake-->
        <mat-tab label="Claim of Stake">
          <ng-template matTabContent>
            <advance-claim-of-stake *ngIf="username" [username]="username"></advance-claim-of-stake>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>

  </div>
</div>