<div class="container-fluid pb-2">

  <div class="row my-1">

    <div class="col-12 mt-2">
      <h3>Witness Voting</h3>
    </div>

    <!--Votes Amount-->
    <div class="col-12 my-2">
      <p>
        <span>As a XSD holder you get </span>
        <span class="font-weight-bold">30</span>
        <span> witness votes, use them wisely.</span>
        <br />

        <span>You have </span>
        <span class="font-weight-bold" [innerHtml]="30 - account.witnessVotes.length"></span>
        <span> witness votes left.</span>
      </p>
    </div>

    <!--Input Voting-->
    <div class="col-12 mb-2">
      <div class="row">
        <div class="col-12">
          <p>
            If you whould like to vote for a witness outside of the top 50, enter the account name below to
            cast a vote.
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <mat-form-field>
            <input matInput placeholder="Witness Name" [(ngModel)]="inputWitness">
          </mat-form-field>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
          <button mat-raised-button class="mat-purple-bg" (click)="voteWitness(inputWitness, account.witnessVotes.indexOf(inputWitness) <= -1)"
            [disabled]="!inputWitness">Vote
          </button>
        </div>
      </div>
    </div>

    <!--Witnesses-->
    <div class="col-12 mb-2">
      <mat-table #witnessTable [dataSource]="dataSource">

        <ng-container matColumnDef="owner">
          <th mat-header-cell *matHeaderCellDef>Witness</th>
          <mat-cell *matCellDef="let witness; let i=index">
            <span class="mr-3" [innerHtml]="i +1"></span>
            <button *ngIf="account.witnessVotes.indexOf(witness.owner) <= -1" mat-button class="mr-3 border purple-border"
              (click)="voteWitness(witness.owner, true)">
              <mat-icon class="purple-fg" aria-label="thumb_up">thumb_up</mat-icon>
            </button>
            <button *ngIf="account.witnessVotes.indexOf(witness.owner) > -1" mat-button class="mr-3 mat-purple-bg"
              (click)="voteWitness(witness.owner, false)">
              <mat-icon class="mat-icon white-fg" aria-label="thumb_up">thumb_up</mat-icon>
            </button>
            <span [innerHtml]="witness.owner"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="block">
          <th mat-header-cell *matHeaderCellDef>Last Minted Block</th>
          <mat-cell *matCellDef="let witness">
            <span [innerHtml]="witness.last_confirmed_block_num"></span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="url">
          <th mat-header-cell *matHeaderCellDef>Information</th>
          <mat-cell *matCellDef="let witness">
            <a [href]="witness.url" target="_blank" [innerHtml]="witness.url"></a>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="50" [pageSizeOptions]="[50, 100, 200]" [showFirstLastButtons]="true"></mat-paginator>
    </div>
  </div>

</div>