@import "src/assets/scss/base";

:host {
  #videoBackground {
    position: fixed; 
    min-width: 100%; 
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }

  .video_overlay {
    opacity: 0.2;
  }

  .email{
    max-width: 400px;
    margin: 0 auto;

    .logo{
      max-width: 300px;
      padding-top: 2em;
      padding-bottom: 2em;
    }


    mat-form-field {
      width: 100%;
    }

    .note{
      color: #777;
    }

    .mb-custom-4{
      margin-bottom: 2rem !important
    }

  }

}