<nav>
  <ul class="mt-1">
    <li>
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
        <i class="material-icons mx-4 align-middle">dashboard</i>
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/wallet" routerLinkActive="active">
        <i class="material-icons mx-4 align-middle">credit_card</i>
        <span>Wallet</span>
      </a>
    </li>
    <li>
      <a routerLink="/music" routerLinkActive="active">
        <i class="material-icons mx-4 align-middle">music_note</i>
        <span>Music</span>
      </a>
    </li>
    <li>
      <a routerLink="/advance" routerLinkActive="active">
        <i class="material-icons mx-4 align-middle">build</i>
        <span>Advance Features</span>
      </a>
    </li>
    <li>
      <!-- <a routerLink="/post-content" routerLinkActive="active"> -->
      <a (click)="artistKeyVerification()" routerLinkActive="active">
        <!-- <*ngIf=user.role !== Management then popup, else line 16> -->
        <i class="material-icons mx-4 align-middle">line_style</i>
        <span>Rights Management</span>
      </a>
    </li>
    <li *ngIf="auth.isAdmin(auth.user)">
      <a routerLink="/admin" routerLinkActive="active">
        <i class="material-icons mx-4 align-middle">account_box</i>
        <span>Admin</span>
      </a>
    </li>
  </ul>
</nav>