<div class="container">
  <div class="row mt-4">
    <mat-card >
      <mat-card-content>
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <h1>Welcome to the SOUNDAC Portal. </h1>
              <h4>
                By accessing this App, you acknowledge and agree to be bound by the Disclaimer below. If you do not agree to the Disclaimer,
                please do not use the App. Your use of the App constitutes your agreement to the Disclaimer.
              </h4>
              <h4>
                This is an Beta Release of the SOUNDAC Portal Application. We have done our best to ensure the accuracy of the
                functionality and data presented in the application. Any information presented by the application is offered with the assumption
                that you understand the application has limited functionality and may be erroneous.
              </h4>
              <h4>
                If you proceed with usage of the Beta RMP Application, we would like to thank you for taking part in our testing.
                Your feedback will help us greatly improve the quality of the SOUNDAC Portal.
              </h4>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>