<h1 mat-dialog-title>Enter Artist Invitation Key</h1>
<div mat-dialog-content class="container-fluid">
  <div class="row my-1">
    <div class="col-12 my-2">
      <p>If you are an artist and would like to upload content and do not have an artist invitation key please visit <a href="https://soundac.io/get-started" target="_blank">SounDAC.io</a></p>
    </div>
  </div>

  <mat-form-field>
    <input matInput type="text" [(ngModel)]="key" autocomplete="key" (keyup.enter)="save()" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Submit</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</div>