<div class="page-layout carded fullwidth">

  <!--Purple Background-->
  <div class="top-bg mat-deep-purple-bg"></div>
  <div class="center">

    <!--Header-->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2 class="text-white">
        <i class="material-icons align-middle mr-1">credit_card</i>
        <span class="align-middle">Wallet</span>
      </h2>
      <div *ngIf="marketCap" class="text-right align-middle text-white">
        <span [innerHtml]="marketCap.price_usd | currency:'USD':'symbol':'0.2-4'"></span>
        <span> USD / XSD</span>
        <br />
      </div>
    </div>

    <!--Content-->
    <div class="content-card mat-white-bg mb-5">
      <mat-tab-group>

        <!--Balances-->
        <mat-tab label="Balances">
          <ng-template matTabContent>
            <wallet-balances *ngIf="account && username" [account]="account" [username]="username"></wallet-balances>
          </ng-template>
        </mat-tab>

        <!--Password-->
        <mat-tab label="Password">
          <ng-template matTabContent>
            <wallet-password *ngIf="account && username" [account]="account" [username]="username"></wallet-password>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>

  </div>
</div>