.mat-table,
.mat-paginator {
    background: transparent;

    mat-header-row {
        padding: 0;
        th {
            flex: 1;
            overflow: hidden;
            word-wrap: break-word;
        }
    }

    .mat-edit-button {
        min-width: 0;
    }


}
.back-button {
  position: absolute;
  text-align: left;
  top: 8px;
  left: 8px;
}
.MatSortHeaderIntl {}
