<!-- <h1 mat-dialog-title>Exit from VIP</h1>

<div mat-dialog-content>
  <div mat-dialog-content>Leaving less than 5 VIP in your account is not recommended
    <br> and can leave your account in an unusable state.</div>
  <br>
  <mat-form-field>
    <input matInput type="number" placeholder="Amount" tabindex="1" [(ngModel)]="data">
  </mat-form-field>

  <div class="col-12 my-2" *ngIf="data">
    <span [innerHtml]="'That\'s ~ ' + getWeeklyAmount() + ' XSD per week.'"></span>
  </div>

</div>

<div mat-dialog-actions>
  <button class="mat-raised-button mat-primary" (click)="save()">Submit</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</div> -->


<h1 mat-dialog-title>Exit from VIP</h1>
<div mat-dialog-content class="container-fluid">
  <div class="row my-1">
    <div class="col-12 my-2" *ngIf="data">
      <strong [innerHtml]="'VIP Balance: ' + data.balance"></strong>
    </div>
  </div>

  <div class="row my-1">
    <div class="col-12 my-2">
      <div mat-dialog-content>A minimum of 5 VIP is required to remain upgraded to VIP. Leaving less than 5 VIP in your account can leave it in an unusable state.</div>
    </div>
  </div>
  <div class="row my-1">
    <mat-slider class="col-12 my-2" [step]="1" [max]= "minVIP" [(ngModel)]="inputAmount">
    </mat-slider>
  </div>

  <div class="row my-1">
    <div class="col-12 my-2">
      <mat-form-field>
        <input matInput type="number" placeholder="Amount" [max]="minVIP" tabindex="1" [(ngModel)]="inputAmount">
      </mat-form-field>
      <div *ngIf="inputAmount > data.balance" >
          <strong [innerHtml]="'Amount must be less than VIP balance.'" style="color: red; font-weight: bold;"></strong>
        </div>
        <div class="col-12 my-2" *ngIf="data">
          <span [innerHtml]="'That\'s ~ ' + getWeeklyAmount() + ' XSD per week.'"></span>
        </div>
      
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <button class="mat-raised-button mat-primary" [disabled]="inputAmount === '' || inputAmount === null || inputAmount === 'undefined' || inputAmount > data.balance || min()" (click)="save()">Submit</button>
  <button class="mat-raised-button" (click)="close()">Cancel</button>
</div>