      
mat-form-field {
  width: "50%";
}

.mat-table,
.mat-paginator {
  background: transparent;

  mat-header-row {
      padding: 0;
      th {
          flex: 1;
          overflow: hidden;
          word-wrap: break-word;
      }
  }

button {
  background: black;
  display: inline;
  padding: 4px;
}

  .mat-vote-button {
      min-width: 0;
  }


}

.mat-row {
  padding: 0;
}