<div id="post" class="page-layout carded fullwidth">
  <div class="top-bg mat-deep-purple-bg"></div>
  <div class="center">

    <!--Header-->
    <div class="header white-fg p-24" fxLayout="row" fxLayoutAlign="space-between center">
      <h2>Admin Dashboard</h2>
    </div>

    <!--Content-->
    <div class="content-card mat-white-bg mb-5">
      <mat-tab-group>

        <!--Dashboard-->
        <mat-tab label="Dashboard">
          <div class="container-fluid">

            <!--XSD Balance-->
            <div class="row my-1">
              <div class="col-12 my-2">
                <h3>Import Users</h3>
                <span>Running this command require you to export and import the user list with firebase auth cli first and copying
                  them to the rmp-user models.</span>
              </div>
              <div class="col-12 my-2">
                <button mat-raised-button class="mat-purple-bg" (click)="admin.importRMPUsers()" [disabled]="!auth.isAdmin(auth.user)">Import</button>
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

            <div class="row my-1">
              <div class="col-12 my-2">
                <h3>Vest test</h3>
              </div>
              <div class="col-12 my-2">
                <button mat-raised-button class="mat-purple-bg" (click)="test()">Test Vest</button>
              </div>
              <div class="col-12 my-1">
                <mat-divider></mat-divider>
              </div>
            </div>

           
            <div class="row my-1">
                <div class="col-12 my-2">
                  <h3>New Artist Invitation Keys</h3>
                <span>
                  Use this tool to generate new unique artist invitation keys for onboarding artists.
                </span></div>
                <div class="col-12 my-2">
                  <button mat-raised-button class="mat-purple-bg" (click)="generateInvitationKey()">Generate Key</button>
                </div>

                <div *ngIf="generatedKey" class="col-12 my-2">
                    <p class="font-weight-bold" [innerHtml]="generatedKey"></p>
                  </div>

                <div class="col-12 my-1">
                  <mat-divider></mat-divider>
                </div>
              </div>


          </div>
        </mat-tab>

        <!--Users-->
        <mat-tab label="Users">
          <div class="container-fluid">

            <!--XSD Balance-->
            <div class="row my-1">
              <div class="col-12 my-2">
                <h3>To be continued...</h3>
              </div>
            </div>

          </div>
        </mat-tab>

      </mat-tab-group>
    
    </div>
    
  </div>
</div>